"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode-plus"
      "background-tips"
      "dalek"
      "deprecation-cop"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-gfm"
      "language-go"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-toml"
      "markdown-preview"
      "metrics"
      "open-on-github"
      "package-generator"
      "styleguide"
      "welcome"
      "wrap-guide"
      "autoflow"
      "bookmarks"
      "dev-live-reload"
      "fuzzy-finder"
      "image-view"
      "spell-check"
      "update-package-dependencies"
      "language-java"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "41671986-41b1-4cd3-80f3-1325668589e0"
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  welcome:
    showOnStartup: false
